@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	-webkit-backdrop-filter: brightness(0.5) blur(24px);
	backdrop-filter: brightness(0.5) blur(24px);
	position: absolute;
	inset: 0;
	z-index: 30;
}

.login.deleting {
	animation: fade-in 0.5s reverse;
}

.login__form {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	animation: fade-in 1s;
	position: relative;
}

.login__avatar {
	border-radius: 100%;
}

.login__field {
	background-color: rgba(255, 255, 255, 0.5);
	/* border: 1px solid rgba(0, 0, 0, 0.5); */
	border: none;
	border-radius: 4px;
	width: 144px;
	/* height: 24px; */
	padding: 8px 12px;
}

.login__submit {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	color: white;
	position: absolute;
	bottom: 0;
	left: 50%;
	translate: 72px 0;
	pointer-events: none;
	transition: opacity 0.2s;
}

.login__field::placeholder {
	color: #555;
}

.login__field:placeholder-shown + .login__submit {
	opacity: 0;
	pointer-events: none;
}
