app-window {
	width: 800px;
	height: 600px;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 16px;
	box-shadow:
		0px 0px 2px rgba(0, 0, 0, 0.44),
		0px 22px 70px 4px rgba(0, 0, 0, 0.56);
	position: absolute;
	left: calc(50% - 400px);
	top: calc(50% - 300px);
	overflow: hidden;
}

app-window:not(.moving) {
	transition-property: inset, width, height, border-radius;
	transition-duration: 0.2s;
}

app-window.maximized {
	inset: 0 !important;
	width: 100%;
	height: 100%;
	border-radius: 0;
}

app-window.minimized {
	display: none;
}

.window__handle {
	display: flex;
	background-color: #5da6da;
	color: #fff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.44);
	align-items: center;
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

.window__controls {
	display: flex;
	gap: 16px;
	padding: 16px 24px;
}

.window__control {
	width: 16px;
	min-width: 16px;
	height: 16px;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	display: block;
}

.window__control::before {
	font-size: 1.5rem;
	line-height: 0;
}

.window__control[data-variant="close"] {
	background-image: url(/assets/images/close.svg);
	background-size: cover;
}

.window__control[data-variant="minimize"] {
	background-image: url(/assets/images/minimize.svg);
	background-size: cover;
}

.window__control[data-variant="maximize"] {
	background-image: url(/assets/images/maximize.svg);
	background-size: cover;
}

.window__control > span {
	width: 1px;
	height: 1px;
	position: absolute;
	margin: -1px;
	overflow: hidden;
	padding: 0;
}

.window__title {
	flex-grow: 1;
	text-align: left;
	font-size: 20px;
	padding: 16px 24px;
}

.window__content {
	overflow: auto;
	flex-grow: 1;
}

.window__padded-content {
	padding: 24px;
}

.window__content h1,
.window__content h2,
.window__content h3,
.window__content h4,
.window__content h5,
.window__content h6 {
	margin-block: 24px;
	text-transform: uppercase;
}

.window__content h2 {
	margin-top: 0;
	font-size: 24px;
	font-weight: 700;
}

.window__content h3 {
	font-size: 20px;
	font-weight: 550;
}

.window__content p {
	margin-block: 12px;
}

.window__content > :last-child {
	margin-bottom: 0;
}
